In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
import warnings
warnings.filterwarnings("ignore")
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,matthews_corrcoef,accuracy_score, confusion_matrix, recall_score, roc_auc_score, precision_score, f1_score
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.base import clone
import random
import math
from datetime import timedelta
import pickle

In [2]:
with open('updated_spx_raw_tickers.dictionary', 'rb') as config_dictionary_file:
 
    # Step 3
    combined = pickle.load(config_dictionary_file)

In [3]:
combined

{'lyb':               lyb  rep_date    volume
 date
 2014-01-02  78.78       NaN       NaN
 2014-01-03  78.71       NaN       NaN
 2014-01-06  77.97       NaN  1.000000
 2014-01-07  78.94       NaN  0.756996
 2014-01-08  79.73       NaN  1.000000
 ...           ...       ...       ...
 2020-09-28  71.21       NaN  0.143262
 2020-09-29  70.28       NaN  0.076910
 2020-09-30  70.49       NaN  0.152140
 2020-10-01  68.14       NaN  0.139042
 2020-10-02  72.69       NaN  0.166154

 [1701 rows x 3 columns],
 'axp':                  axp  rep_date    volume
 2000-01-03   45.8828       NaN       NaN
 2000-01-04   44.1504       NaN       NaN
 2000-01-05   42.9650       NaN  0.000000
 2000-01-06   43.8404       NaN  1.000000
 2000-01-07   44.4786       NaN  0.000000
 ...              ...       ...       ...
 2020-09-28   98.8200       NaN  0.033593
 2020-09-29   97.7500       NaN  0.029631
 2020-09-30  100.2500       NaN  0.044227
 2020-10-01  101.3300       NaN  0.041284
 2020-10-02  102.0000       NaN  0.031989

 [5222 rows x 3 columns],
 'vz':                  vz  rep_date    volume
 2000-01-03  53.7247       NaN       NaN
 2000-01-04  51.9880       NaN       NaN
 2000-01-05  53.7247       NaN       NaN
 2000-01-06  53.1085       NaN  0.000000
 2000-01-07  52.7163       NaN  0.203343
 ...             ...       ...       ...
 2020-09-28  59.3600       NaN  0.017477
 2020-09-29  59.2400       NaN  0.015461
 2020-09-30  59.4900       NaN  0.017758
 2020-10-01  59.4500       NaN  0.019660
 2020-10-02  59.4300       NaN  0.013258

 [5222 rows x 3 columns],
 'avgo':               avgo  rep_date    volume
 2016-01-04  142.28       NaN       NaN
 2016-01-05  137.52       NaN       NaN
 2016-01-06  133.29       NaN       NaN
 2016-01-07  129.05       NaN  0.000000
 2016-01-08  128.20       NaN  1.000000
 ...            ...       ...       ...
 2020-09-28  367.30       NaN  0.030987
 2020-09-29  364.26       NaN  0.019780
 2020-09-30  364.32       NaN  0.024304
 2020-10-01  368.60       NaN  0.020321
 2020-10-02  358.65       NaN  0.017733

 [1197 rows x 3 columns],
 'ba':                  ba  rep_date    volume
 2000-01-03   40.188       NaN       NaN
 2000-01-04   40.125       NaN       NaN
 2000-01-05   42.625       NaN       NaN
 2000-01-06   43.063       NaN  0.000000
 2000-01-07   44.313       NaN  0.400849
 ...             ...       ...       ...
 2020-09-28  166.080       NaN  0.403944
 2020-09-29  163.600       NaN  0.205638
 2020-09-30  165.260       NaN  0.396550
 2020-10-01  167.860       NaN  0.316047
 2020-10-02  167.480       NaN  0.295313

 [5222 rows x 3 columns],
 'cat':                  cat  rep_date    volume
 2000-01-03   24.3125       NaN       NaN
 2000-01-04   24.0000       NaN       NaN
 2000-01-05   24.5625       NaN       NaN
 2000-01-06   25.8125       NaN  0.000000
 2000-01-07   26.6563       NaN  0.969475
 ...              ...       ...       ...
 2020-09-28  147.6800       NaN  0.023171
 2020-09-29  147.4100       NaN  0.016623
 2020-09-30  149.1500       NaN  0.039597
 2020-10-01  146.7100       NaN  0.023168
 2020-10-02  150.7800       NaN  0.028977

 [5222 rows x 3 columns],
 'jpm':                 jpm  rep_date    volume
 2000-01-03  48.5833       NaN       NaN
 2000-01-04  47.2500       NaN       NaN
 2000-01-05  46.9583       NaN       NaN
 2000-01-06  47.6250       NaN       NaN
 2000-01-07  48.5000       NaN       NaN
 ...             ...       ...       ...
 2020-09-28  96.1600       NaN  0.082357
 2020-09-29  95.3500       NaN  0.059723
 2020-09-30  96.2700       NaN  0.064986
 2020-10-01  96.9700       NaN  0.068524
 2020-10-02  98.1200       NaN  0.055915

 [5222 rows x 3 columns],
 'cvx':                 cvx  rep_date    volume
 2000-01-03  41.8125       NaN       NaN
 2000-01-04  41.8125       NaN       NaN
 2000-01-05  42.5625       NaN  1.000000
 2000-01-06  44.3750       NaN  0.349024
 2000-01-07  45.1563       NaN  0.420866
 ...             ...       ...       ...
 2020-09-28  73.9300       NaN  0.268642
 2020-09-29  71.9000       NaN  0.221066
 2020-09-30  72.0000       NaN  0.191411
 2020-10-01  70.4200       NaN  0.316481
 2020-10-02  71.4400       NaN  0.183705

 [5222 rows x 3 columns],
 'ko':                  ko  rep_date    volume
 2000-01-03  28.1875       NaN       NaN
 2000-01-04  28.2188       NaN       NaN
 2000-01-05  28.4688       NaN  1.000000
 2000-01-06  28.5000       NaN  0.000000
 2000-01-07  30.3750       NaN  1.000000
 ...             ...       ...       ...
 2020-09-28  49.2800       NaN  0.073559
 2020-09-29  48.9200       NaN  0.071745
 2020-09-30  49.3700       NaN  0.072393
 2020-10-01  49.1800       NaN  0.141213
 2020-10-02  49.5000       NaN  0.063512

 [5222 rows x 3 columns],
 'dis':                  dis  rep_date    volume
 2000-01-03   29.4778       NaN       NaN
 2000-01-04   31.2045       NaN       NaN
 2000-01-05   32.4996       NaN       NaN
 2000-01-06   31.2045       NaN  0.000000
 2000-01-07   30.7112       NaN  0.000000
 ...              ...       ...       ...
 2020-09-28  125.9900       NaN  0.046266
 2020-09-29  125.4000       NaN  0.051095
 2020-09-30  124.0800       NaN  0.092736
 2020-10-01  123.3100       NaN  0.068624
 2020-10-02  122.8200       NaN  0.046874

 [5222 rows x 3 columns],
 'flt':                flt  rep_date    volume
 2020-01-02  287.74       NaN       NaN
 2020-01-03  290.81       NaN       NaN
 2020-01-06  289.19       NaN       NaN
 2020-01-07  291.75       NaN       NaN
 2020-01-08  297.02       NaN  0.000000
 ...            ...       ...       ...
 2020-09-28  241.71       NaN  0.089779
 2020-09-29  240.75       NaN  0.363751
 2020-09-30  238.10       NaN  0.108557
 2020-10-01  237.18       NaN  0.082124
 2020-10-02  235.34       NaN  0.091981

 [191 rows x 3 columns],
 'exr':                exr  rep_date    volume
 2018-01-02   85.68       NaN       NaN
 2018-01-03   85.86       NaN       NaN
 2018-01-04   84.30       NaN       NaN
 2018-01-05   83.90       NaN  1.000000
 2018-01-08   85.17       NaN  1.000000
 ...            ...       ...       ...
 2020-09-28  108.12       NaN  0.129036
 2020-09-29  107.24       NaN  0.080502
 2020-09-30  106.99       NaN  0.190103
 2020-10-01  109.24       NaN  0.202245
 2020-10-02  112.61       NaN  0.127007

 [694 rows x 3 columns],
 'xom':                 xom  rep_date    volume
 2000-01-03  39.1563       NaN       NaN
 2000-01-04  38.4063       NaN       NaN
 2000-01-05  40.5000       NaN       NaN
 2000-01-06  42.5938       NaN       NaN
 2000-01-07  42.4688       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  35.3100       NaN  0.183791
 2020-09-29  34.2800       NaN  0.160474
 2020-09-30  34.3300       NaN  0.155939
 2020-10-01  33.1300       NaN  0.315773
 2020-10-02  33.1300       NaN  0.237249

 [5222 rows x 3 columns],
 'psx':               psx  rep_date    volume
 2014-01-02  76.45       NaN       NaN
 2014-01-03  76.29       NaN       NaN
 2014-01-06  77.01       NaN  1.000000
 2014-01-07  77.02       NaN  1.000000
 2014-01-08  76.87       NaN  1.000000
 ...           ...       ...       ...
 2020-09-28  53.98       NaN  0.123652
 2020-09-29  52.19       NaN  0.157261
 2020-09-30  51.84       NaN  0.143504
 2020-10-01  50.28       NaN  0.334312
 2020-10-02  51.27       NaN  0.216591

 [1701 rows x 3 columns],
 'ge':                  ge  rep_date    volume
 2000-01-03  48.0626       NaN       NaN
 2000-01-04  46.1401       NaN       NaN
 2000-01-05  46.0600       NaN       NaN
 2000-01-06  46.6758       NaN  0.000000
 2000-01-07  48.4831       NaN  0.036228
 ...             ...       ...       ...
 2020-09-28   6.2000       NaN  0.097977
 2020-09-29   6.1200       NaN  0.098824
 2020-09-30   6.2300       NaN  0.119175
 2020-10-01   6.2400       NaN  0.102957
 2020-10-02   6.3900       NaN  0.104049

 [5222 rows x 3 columns],
 'hpq':                 hpq  rep_date    volume
 2000-01-03  20.8044       NaN       NaN
 2000-01-04  19.2322       NaN       NaN
 2000-01-05  19.1104       NaN  1.000000
 2000-01-06  17.8925       NaN  0.000000
 2000-01-07  18.4018       NaN  0.053303
 ...             ...       ...       ...
 2020-09-28  18.8600       NaN  0.057344
 2020-09-29  18.9200       NaN  0.039435
 2020-09-30  18.9900       NaN  0.052317
 2020-10-01  19.0000       NaN  0.049601
 2020-10-02  19.1400       NaN  0.030390

 [5222 rows x 3 columns],
 'hd':                  hd  rep_date    volume
 2000-01-03   65.188       NaN       NaN
 2000-01-04   61.750       NaN       NaN
 2000-01-05   63.000       NaN       NaN
 2000-01-06   60.000       NaN       NaN
 2000-01-07   63.500       NaN       NaN
 ...             ...       ...       ...
 2020-09-28  272.330       NaN  0.014736
 2020-09-29  272.110       NaN  0.007741
 2020-09-30  277.710       NaN  0.025750
 2020-10-01  277.620       NaN  0.012100
 2020-10-02  280.690       NaN  0.007732

 [5222 rows x 3 columns],
 'ibm':                  ibm  rep_date    volume
 2000-01-03  116.0000       NaN       NaN
 2000-01-04  112.0625       NaN       NaN
 2000-01-05  116.0000       NaN  1.000000
 2000-01-06  114.0000       NaN  0.000000
 2000-01-07  113.5000       NaN  0.815887
 ...              ...       ...       ...
 2020-09-28  121.7300       NaN  0.057151
 2020-09-29  120.9400       NaN  0.036090
 2020-09-30  121.6700       NaN  0.048371
 2020-10-01  121.0900       NaN  0.052310
 2020-10-02  121.1600       NaN  0.037985

 [5222 rows x 3 columns],
 'cxo':                cxo  rep_date    volume
 2018-01-02  151.90       NaN       NaN
 2018-01-03  152.59       NaN       NaN
 2018-01-04  153.61       NaN  0.000000
 2018-01-05  155.60       NaN  0.475668
 2018-01-08  156.04       NaN  0.039915
 ...            ...       ...       ...
 2020-09-28   44.94       NaN  0.140334
 2020-09-29   44.40       NaN  0.088847
 2020-09-30   44.12       NaN  0.087704
 2020-10-01   42.35       NaN  0.075498
 2020-10-02   43.44       NaN  0.120972

 [694 rows x 3 columns],
 'jnj':                  jnj  rep_date    volume
 2000-01-03   46.0938       NaN       NaN
 2000-01-04   44.4063       NaN       NaN
 2000-01-05   44.8750       NaN       NaN
 2000-01-06   46.2813       NaN  0.000000
 2000-01-07   48.2500       NaN  1.000000
 ...              ...       ...       ...
 2020-09-28  147.1100       NaN  0.043243
 2020-09-29  147.0600       NaN  0.054671
 2020-09-30  148.8800       NaN  0.067117
 2020-10-01  147.3200       NaN  0.056936
 2020-10-02  147.1700       NaN  0.035499

 [5222 rows x 3 columns],
 'mcd':                 mcd  rep_date    volume
 2000-01-03   39.625       NaN       NaN
 2000-01-04   38.813       NaN       NaN
 2000-01-05   39.438       NaN  1.000000
 2000-01-06   38.875       NaN  0.584080
 2000-01-07   39.875       NaN  0.894690
 ...             ...       ...       ...
 2020-09-28  220.260       NaN  0.013677
 2020-09-29  218.680       NaN  0.011568
 2020-09-30  219.490       NaN  0.017544
 2020-10-01  219.590       NaN  0.019304
 2020-10-02  223.020       NaN  0.023494

 [5222 rows x 3 columns],
 'mrk':                 mrk  rep_date    volume
 2000-01-03  64.0042       NaN       NaN
 2000-01-04  61.7563       NaN       NaN
 2000-01-05  64.1816       NaN       NaN
 2000-01-06  64.7140       NaN  0.000000
 2000-01-07  70.9252       NaN  1.000000
 ...             ...       ...       ...
 2020-09-28  82.7600       NaN  0.029179
 2020-09-29  81.9000       NaN  0.036998
 2020-09-30  82.9500       NaN  0.055247
 2020-10-01  81.6400       NaN  0.045043
 2020-10-02  81.3400       NaN  0.016738

 [5222 rows x 3 columns],
 'mmm':                 mmm  rep_date    volume
 2000-01-03   47.188       NaN       NaN
 2000-01-04   45.313       NaN       NaN
 2000-01-05   46.625       NaN       NaN
 2000-01-06   50.375       NaN       NaN
 2000-01-07   51.375       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  161.660       NaN  0.052054
 2020-09-29  159.810       NaN  0.055616
 2020-09-30  160.180       NaN  0.068330
 2020-10-01  158.790       NaN  0.051400
 2020-10-02  160.930       NaN  0.037483

 [5222 rows x 3 columns],
 'awk':                awk  rep_date    volume
 2018-01-02   89.08       NaN       NaN
 2018-01-03   88.45       NaN       NaN
 2018-01-04   87.61       NaN       NaN
 2018-01-05   86.75       NaN  1.000000
 2018-01-08   87.50       NaN  1.000000
 ...            ...       ...       ...
 2020-09-28  144.55       NaN  0.082476
 2020-09-29  143.70       NaN  0.092029
 2020-09-30  144.88       NaN  0.186925
 2020-10-01  148.57       NaN  0.219358
 2020-10-02  149.75       NaN  0.077332

 [694 rows x 3 columns],
 'bac':                 bac  rep_date    volume
 2000-01-03  24.2188       NaN       NaN
 2000-01-04  22.7813       NaN       NaN
 2000-01-05  23.0313       NaN  0.000000
 2000-01-06  25.0000       NaN  0.000000
 2000-01-07  24.3438       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  24.0900       NaN  0.038826
 2020-09-29  23.7700       NaN  0.037245
 2020-09-30  24.0900       NaN  0.042556
 2020-10-01  24.1000       NaN  0.035944
 2020-10-02  24.2900       NaN  0.039427

 [5222 rows x 3 columns],
 'bkr':               bkr  rep_date    volume
 2018-01-02  32.23       NaN       NaN
 2018-01-03  33.53       NaN       NaN
 2018-01-04  34.63       NaN       NaN
 2018-01-05  34.44       NaN  0.000000
 2018-01-08  34.51       NaN  0.285540
 ...           ...       ...       ...
 2020-09-28  13.47       NaN  0.063895
 2020-09-29  13.13       NaN  0.047141
 2020-09-30  13.29       NaN  0.057263
 2020-10-01  12.76       NaN  0.053366
 2020-10-02  12.69       NaN  0.054248

 [694 rows x 3 columns],
 'pfe':                 pfe  rep_date    volume
 2000-01-03  31.8750       NaN       NaN
 2000-01-04  30.6875       NaN       NaN
 2000-01-05  31.1875       NaN  0.000000
 2000-01-06  32.3125       NaN  0.000000
 2000-01-07  34.5000       NaN  1.000000
 ...             ...       ...       ...
 2020-09-28  36.3900       NaN  0.043272
 2020-09-29  36.1700       NaN  0.039846
 2020-09-30  36.7000       NaN  0.056146
 2020-10-01  36.3700       NaN  0.067746
 2020-10-02  36.5200       NaN  0.044862

 [5222 rows x 3 columns],
 'pg':                   pg  rep_date    volume
 2000-01-03   53.5938       NaN       NaN
 2000-01-04   52.5625       NaN       NaN
 2000-01-05   51.5625       NaN  1.000000
 2000-01-06   53.9375       NaN  1.000000
 2000-01-07   58.2500       NaN  1.000000
 ...              ...       ...       ...
 2020-09-28  138.0100       NaN  0.039399
 2020-09-29  137.2600       NaN  0.029765
 2020-09-30  138.9900       NaN  0.037783
 2020-10-01  139.2400       NaN  0.036802
 2020-10-02  138.7700       NaN  0.030208

 [5222 rows x 3 columns],
 't':                   t  rep_date    volume
 2000-01-03  47.0000       NaN       NaN
 2000-01-04  44.2500       NaN       NaN
 2000-01-05  44.9375       NaN       NaN
 2000-01-06  43.7500       NaN  0.000000
 2000-01-07  44.1250       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  28.3800       NaN  0.156989
 2020-09-29  28.3000       NaN  0.122989
 2020-09-30  28.5100       NaN  0.148463
 2020-10-01  28.4900       NaN  0.143245
 2020-10-02  28.8000       NaN  0.122578

 [5222 rows x 3 columns],
 'nbl':                nbl  rep_date    volume
 2008-01-02  39.905       NaN       NaN
 2008-01-03  40.160       NaN       NaN
 2008-01-04  39.415       NaN  0.000000
 2008-01-07  39.510       NaN  0.781039
 2008-01-08  38.805       NaN  0.832148
 ...            ...       ...       ...
 2020-09-28   8.750       NaN  0.233869
 2020-09-29   8.520       NaN  0.200176
 2020-09-30   8.550       NaN  0.193475
 2020-10-01   8.340       NaN  0.241934
 2020-10-02   8.480       NaN  0.205647

 [3212 rows x 3 columns],
 'trv':                 trv  rep_date    volume
 2000-01-03   33.000       NaN       NaN
 2000-01-04   32.563       NaN       NaN
 2000-01-05   32.313       NaN       NaN
 2000-01-06   32.938       NaN  0.000000
 2000-01-07   34.250       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  110.220       NaN  0.034495
 2020-09-29  107.440       NaN  0.042300
 2020-09-30  108.190       NaN  0.046200
 2020-10-01  107.810       NaN  0.043499
 2020-10-02  109.100       NaN  0.026981

 [5222 rows x 3 columns],
 'adi':                  adi  rep_date    volume
 2000-01-03   45.0938       NaN       NaN
 2000-01-04   42.8125       NaN       NaN
 2000-01-05   43.4375       NaN  1.000000
 2000-01-06   42.2500       NaN  0.097582
 2000-01-07   43.4375       NaN  0.000000
 ...              ...       ...       ...
 2020-09-28  117.0600       NaN  0.053089
 2020-09-29  116.6500       NaN  0.062317
 2020-09-30  116.7400       NaN  0.086386
 2020-10-01  118.9900       NaN  0.089915
 2020-10-02  114.9200       NaN  0.076897

 [5222 rows x 3 columns],
 'wmt':                  wmt  rep_date    volume
 2000-01-03   66.8125       NaN       NaN
 2000-01-04   64.3125       NaN       NaN
 2000-01-05   63.0000       NaN  1.000000
 2000-01-06   63.6875       NaN  0.000000
 2000-01-07   68.5000       NaN  1.000000
 ...              ...       ...       ...
 2020-09-28  137.2500       NaN  0.050608
 2020-09-29  137.1400       NaN  0.070959
 2020-09-30  139.9100       NaN  0.092582
 2020-10-01  143.0800       NaN  0.130283
 2020-10-02  140.6400       NaN  0.059032

 [5222 rows x 3 columns],
 'csco':                csco  rep_date    volume
 2000-01-03  54.0313       NaN       NaN
 2000-01-04  51.0000       NaN       NaN
 2000-01-05  50.8438       NaN  1.000000
 2000-01-06  50.0000       NaN  0.000000
 2000-01-07  52.9375       NaN  0.691075
 ...             ...       ...       ...
 2020-09-28  39.1300       NaN  0.030672
 2020-09-29  39.0600       NaN  0.020461
 2020-09-30  39.3900       NaN  0.037079
 2020-10-01  38.8000       NaN  0.029362
 2020-10-02  38.3200       NaN  0.030414

 [5222 rows x 3 columns],
 'intc':                intc  rep_date    volume
 2000-01-03  43.5000       NaN       NaN
 2000-01-04  41.4688       NaN       NaN
 2000-01-05  41.8125       NaN  1.000000
 2000-01-06  39.3750       NaN  1.000000
 2000-01-07  41.0000       NaN  0.000000
 ...             ...       ...       ...
 2020-09-28  51.4300       NaN  0.080012
 2020-09-29  51.1900       NaN  0.058073
 2020-09-30  51.7800       NaN  0.071960
 2020-10-01  52.2400       NaN  0.058575
 2020-10-02  51.3400       NaN  0.060286

 [5222 rows x 3 columns],
 'gm':                gm  rep_date    volume
 2014-01-02  40.95       NaN       NaN
 2014-01-03  39.57       NaN       NaN
 2014-01-06  40.40       NaN  0.000000
 2014-01-07  40.20       NaN  0.000000
 2014-01-08  40.42       NaN  0.000000
 ...           ...       ...       ...
 2020-09-28  29.44       NaN  0.068866
 2020-09-29  28.74       NaN  0.066877
 2020-09-30  29.59       NaN  0.097028
 2020-10-01  30.38       NaN  0.147872
 2020-10-02  30.52       NaN  0.070784

 [1701 rows x 3 columns],
 'msft':                 msft  rep_date    volume
 2000-01-03   58.2813       NaN       NaN
 2000-01-04   56.3125       NaN       NaN
 2000-01-05   56.9063       NaN       NaN
 2000-01-06   55.0000       NaN  0.000000
 2000-01-07   55.7188       NaN  0.774744
 ...              ...       ...       ...
 2020-09-28  209.4400       NaN  0.044859
 2020-09-29  207.2600       NaN  0.029091
 2020-09-30  210.3300       NaN  0.041649
 2020-10-01  212.4600       NaN  0.030019
 2020-10-02  207.1500       NaN  0.037330

 [5222 rows x 3 columns],
 'dg':                 dg  rep_date    volume
 2014-01-02   61.20       NaN       NaN
 2014-01-03   60.98       NaN       NaN
 2014-01-06   59.61       NaN  1.000000
 2014-01-07   59.89       NaN  0.000000
 2014-01-08   59.70       NaN  1.000000
 ...            ...       ...       ...
 2020-09-28  209.80       NaN  0.020521
 2020-09-29  209.64       NaN  0.021225
 2020-09-30  209.62       NaN  0.026937
 2020-10-01  211.52       NaN  0.026687
 2020-10-02  211.43       NaN  0.015151

 [1701 rows x 3 columns],
 'ci':                   ci  rep_date    volume

In [4]:
b4rep_window = 10
thr = 0.65

In [5]:
def compress(series, sides=0.01):
    
    series = pd.Series(np.where( series > series.quantile(q=(1-sides)) , series.quantile(q=(1-sides)), series ), 
                      index=series.index)
    series = np.where(series < series.quantile(q=sides), series.quantile(q=sides), series)
    return series

def compress_right_tail(series, sides=0.01):
    
    series = pd.Series(np.where( series > series.quantile(q=(1-sides)) , series.quantile(q=(1-sides)), series ), 
                      index=series.index)
    return series

def create_features(dtf, tick, lead=5, ret_lag=[1,2,5,10,20,44,261], tr=0.025, vol_lag=[1,2,5,10,20,44,261], vol_window=100, sides=0.01):
    
    feat_cols = []
#    dtf['volume'] = np.log(dtf['volume'])

#    dtf['volume'] = (dtf['volume']-dtf['volume'].cummin())/(dtf['volume'].cummax()-dtf['volume'].cummin())

    avg_vol_name = 'avg_vol_' + str(vol_window)
    dtf[avg_vol_name] = dtf['volume'].rolling(window=vol_window).mean()
    dtf[avg_vol_name] = np.log(dtf[avg_vol_name])
#     avg_range_name = 'avg_range_' + str(vol_window)
#     dtf[avg_range_name] = np.abs(dtf['high'].rolling(window=vol_window).mean()-dtf['low'].rolling(window=vol_window).mean())
#     dtf[avg_range_name] = compress(dtf[avg_range_name], sides=sides)

# #     avg_low_name = 'avg_low_' + str(vol_window)
# #     dtf[avg_low_name] = dtf[tick]-dtf['low'].rolling(window=vol_window).mean()
# #     avg_high_name = 'avg_high_' + str(vol_window)
# #     dtf[avg_high_name] = dtf['high'].rolling(window=vol_window).mean()-dtf[tick]
    
#     for avg in vol_avgs:

#         name_simple = 'open'+str(avg)
#         dtf[name_simple] = dtf['open'].rolling(window=avg).mean()
#         dtf[name_simple] = np.log(dtf[name_simple])
#         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
#         dtf[name_simple] = (dtf[name_simple]-dtf[name_simple].min()) / (dtf[name_simple].max() - dtf[name_simple].min())
#         feat_cols.append(name_simple)
#         name_simple = 'high'+str(avg)
#         dtf[name_simple] = dtf['high'].rolling(window=avg).mean()
#         dtf[name_simple] = np.log(dtf[name_simple])
#         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
#         dtf[name_simple] = (dtf[name_simple]-dtf[name_simple].min()) / (dtf[name_simple].max() - dtf[name_simple].min())
#         #feat_cols.append(name_simple)
#         name_simple = 'low'+str(avg)
#         dtf[name_simple] = dtf['low'].rolling(window=avg).mean()
#         dtf[name_simple] = np.log(dtf[name_simple])
#         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
#         dtf[name_simple] = (dtf[name_simple]-dtf[name_simple].min()) / (dtf[name_simple].max() - dtf[name_simple].min())
#         #feat_cols.append(name_simple)
# #         name_simple = 'vwap'+str(avg)
# #         dtf[name_simple] = dtf['vwap'].rolling(window=avg).mean()
# #         dtf[name_simple] = np.log(dtf[name_simple])
# #         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
# #         dtf[name_simple] = (dtf[name_simple]-dtf[name_simple].min()) / (dtf[name_simple].max() - dtf[name_simple].min())
# #         feat_cols.append(name_simple)
#         name_simple = 'ranges'+str(avg)
#         dtf[name_simple] = np.abs(dtf['high'+str(avg)]-dtf['low'+str(avg)])
#         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
#         dtf[name_simple] = dtf[name_simple] / dtf[avg_range_name]
#         dtf[name_simple] = compress(dtf[name_simple], sides=sides)
#         #feat_cols.append(name_simple)


    
    
    for lag in vol_lag:
        name_simple = 'vol'+str(lag)
        dtf[name_simple] = dtf['volume'].rolling(window=lag).mean()
        dtf[name_simple] = np.log(dtf[name_simple])
        dtf[name_simple] = dtf[name_simple] / dtf[avg_vol_name]
        dtf[name_simple] = compress(dtf[name_simple], sides=sides)
        dtf[name_simple] = (dtf[name_simple]-dtf[name_simple].cummin()) / (dtf[name_simple].cummax() - dtf[name_simple].cummin())
        feat_cols.append(name_simple)
    for lag in ret_lag:
        name = 'ret'+str(lag)
        dtf[name] = dtf[tick]/dtf[tick].shift(lag)-1
        dtf[name] = compress(dtf[name], sides=sides)
        dtf[name] = (dtf[name] - dtf[name].cummin()) / (dtf[name].cummax() - dtf[name].cummin())
        feat_cols.append(name)

        
        
    dtf['tick'] = tick
    #feat_cols.append(tick)
#    dtf['fwd'] = dtf[tick].shift(-lead+1) / dtf[tick]-1
#    dtf['fwd'] = dtf[tick].shift(-lead) / dtf[tick]-1
    dtf['fwd'] = dtf[tick].shift(-lead-1) / dtf[tick]-1
    dtf['ycol'] = np.where(dtf['fwd'] >= tr, 1, 0)
    feat_cols.append('ycol')
#    dtf['mva_90'] = dtf[tick].rolling(window=90).mean()
#    dtf['y_90'] = np.where(dtf[tick] >= dtf['mva_90'], 1, 0)
#    feat_cols.append('y_90')
    return dtf, feat_cols

In [6]:
def ticker_features(combined_dtfs, ticker, growth_tr=0.02, back_window=28, b4rep_window=10,
                   ret_lag=[1,2,5,10,20,44,261], vol_lag=[1,2,5,10,20,44,261], vol_window=100, sides=0.01):

    idf = combined_dtfs[ticker]
    if combined[ticker].shape[0]==0:
        return
    else:
        idf['idate'] = idf.index
        idf['idate'] = idf['idate'].shift(1)
        idf['b4rep_window'] = idf.index
        idf['b4rep_window'] = idf['b4rep_window'].shift(b4rep_window+1)
        #print(ticker)
        idf['back_window'] = pd.to_datetime(np.where(idf.rep_date == 1, idf['idate'] - \
                                                     pd.Timedelta(days=back_window), pd.to_datetime(np.nan)))
        idf['back_window'] = idf['back_window'].fillna(method='backfill')

        idf['b4rep_window'] = pd.to_datetime(np.where(idf.rep_date == 1, idf['b4rep_window'], pd.to_datetime(np.nan)))
        idf['b4rep_window'] = idf['b4rep_window'].fillna(method='backfill')

        idf['b4rep'] = np.where( idf.idate >= idf.back_window , 1, 0 )
        idf['next_rep'] = pd.to_datetime(np.where( idf.rep_date == 1, idf.idate, pd.to_datetime(np.nan)))
        idf['next_rep'] = idf['next_rep'].fillna(method='backfill')
        idf['price_atrep'] = idf['next_rep'].map(idf[ticker])
        idf['price_b4rep'] = idf['b4rep_window'].map(idf[ticker])
        idf['b4rep_chng'] = idf['price_atrep']/idf['price_b4rep']-1

        #idf = idf[idf.b4rep == 1]#[['meli', 'volume', 'rep_date']]
        #idf['ycol'] = np.where( (idf['b4rep'] == 1) & (idf['b4rep_chng'] > growth_tr), 1, 0 )
        #idf = idf[[ticker, 'volume', 'b4rep', 'b4rep_chng']]

        #idf = create_returns(idf, ticker, lead=b4rep_window, tr=growth_tr)
        idf, feat_cols = create_features(idf, ticker, lead=b4rep_window,ret_lag=ret_lag, vol_lag=vol_lag, tr=growth_tr, 
                            vol_window=vol_window, sides=sides)
        feat_cols.append('fwd')
        feat_cols.append('tick')
        idf = idf[idf.idate == idf.b4rep_window]

        return idf[feat_cols].dropna()

In [7]:
def nasdaq_features(combined, params=None):
    
    if params == None:
        params = {
            'b4rep_window': b4rep_window, 
            'growth_tr': 0.02,
            'back_window': 28, 
            'ret_lag': [1,2,5,10,22,44,51,66,118,132,246,261,375,480,520], 
            'vol_lag': [1,2,5,10,22,44,51,66,118,132], 

            'vol_window': 100, 
            'sides': 0.01
        }
    
    df = pd.DataFrame()
    for i in combined:
        df = df.append(ticker_features(combined, i, **params))
    df = df.sort_index()
    
    return df

In [8]:
%%time
df = nasdaq_features(combined, params=None)
#### ADDED COLUMN FOR TESTING RETURNS
#df['case_id'] = np.linspace(1, df.shape[0], df.shape[0])
df.index = df.index
df['date:tick'] = df.index.astype(str)+':'+df['tick']

#### ALSO AMENDED my_tss function to account for new column
df.tail()

CPU times: user 44.4 s, sys: 809 ms, total: 45.2 s
Wall time: 45.2 s

,vol1,vol2,vol5,vol10,vol22,vol44,vol51,vol66,vol118,vol132,...,ret132,ret246,ret261,ret375,ret480,ret520,ycol,fwd,tick,date:tick
2020-08-31,0.572634,0.516585,0.592231,0.574900,0.372985,0.282722,0.303976,0.349852,0.346603,0.288642,...,0.800615,0.621432,0.756742,0.607848,0.306617,0.284277,1,0.138555,fdx,2020-08-31:fdx
2020-09-08,0.339846,0.380349,0.346768,0.394680,0.414930,0.476595,0.471174,0.435927,0.463528,0.385984,...,0.342498,0.179531,0.210342,0.242100,0.323408,0.312697,0,-0.068131,azo,2020-09-08:azo
2020-09-08,0.527466,0.569587,0.528450,0.668057,0.618831,0.631074,0.528114,0.431714,0.233559,0.000000,...,0.732229,0.623917,0.695646,0.517817,0.588209,0.465765,1,0.127661,nke,2020-09-08:nke
2020-09-09,0.280558,0.280600,0.401968,0.434631,0.599852,0.551500,0.481793,0.364341,0.387111,0.031626,...,0.710255,0.542456,0.609398,0.712105,0.900100,0.761539,0,-0.021340,gis,2020-09-09:gis
2020-09-09,0.499114,0.475922,0.521696,0.671788,0.816631,0.708158,0.730354,0.774940,0.188285,0.013395,...,0.687215,0.720762,0.634522,0.864013,0.873807,0.657998,0,-0.022367,ctas,2020-09-09:ctas

In [9]:
# save the model to disk
filename = 'inference_before_spx.sav'
 
# some time later...
 
# load the model from disk
estimatorCopy = pickle.load(open(filename, 'rb'))

In [10]:
cols=['vol1', 'vol2', 'vol5', 'vol10', 'vol22', 'vol44', 'vol51', 'vol66',
       'vol118', 'vol132', 'ret1', 'ret2', 'ret5', 'ret10', 'ret22', 'ret44',
       'ret51', 'ret66', 'ret118', 'ret132', 'ret246', 'ret261', 'ret375',
       'ret480', 'ret520']
num_companies=500
next_reports = df['tick'][-int(num_companies*1.3):]
ticker_proba = {}
existing_reports = []
for ticker in next_reports:
    try:
        pred_features=combined[ticker][-1:][cols]
        ticker_proba[ticker] = estimatorCopy.predict_proba(pred_features)[:,2]
        existing_reports.append(ticker)
    except:
        print('except:')
        print(ticker)

In [11]:
{k: v for k, v in sorted(ticker_proba.items(), key=lambda item: item[1],reverse=True)}

{'oxy': array([0.74511069]),
 'm': array([0.7385571]),
 'mo': array([0.71776557]),
 'fls': array([0.71684185]),
 'nclh': array([0.7147635]),
 'ba': array([0.70424431]),
 'gis': array([0.6953655]),
 'nbl': array([0.67583214]),
 'expe': array([0.67418379]),
 'bk': array([0.660129]),
 'hal': array([0.64798535]),
 'tap': array([0.64145565]),
 'kss': array([0.63405001]),
 'cvx': array([0.63232203]),
 'cop': array([0.61825928]),
 'jwn': array([0.61386367]),
 'gd': array([0.61114031]),
 'stt': array([0.60183946]),
 'ua': array([0.60082816]),
 'pru': array([0.59429049]),
 'yum': array([0.59414716]),
 'mar': array([0.59108935]),
 'ual': array([0.59049212]),
 'cma': array([0.58987896]),
 'syy': array([0.58775283]),
 'wfc': array([0.58687689]),
 'cdns': array([0.57501194]),
 'dfs': array([0.57024208]),
 'alk': array([0.56808409]),
 'l': array([0.56708075]),
 'o': array([0.56000159]),
 'udr': array([0.55315337]),
 'nov': array([0.5528667]),
 'viac': array([0.5513139]),
 'well': array([0.54788183]),
 'dal': array([0.54721293]),
 'wec': array([0.54210862]),
 'lrcx': array([0.53638318]),
 'apa': array([0.53477465]),
 'rl': array([0.53457557]),
 'trv': array([0.53393853]),
 'hes': array([0.52983755]),
 'slg': array([0.52651696]),
 'luv': array([0.52386527]),
 'rcl': array([0.52209747]),
 'ben': array([0.5218745]),
 'pbct': array([0.51609333]),
 'mlm': array([0.51278866]),
 'spg': array([0.50772416]),
 'uri': array([0.5026517]),
 'rtx': array([0.5018315]),
 'anss': array([0.50145724]),
 'hp': array([0.49726867]),
 'rost': array([0.49630514]),
 'cpri': array([0.49394808]),
 'disck': array([0.49261825]),
 'jpm': array([0.49153528]),
 'tpr': array([0.48846154]),
 'flir': array([0.48612836]),
 'fe': array([0.48491002]),
 'schw': array([0.48101609]),
 'ads': array([0.47957477]),
 'hban': array([0.47946329]),
 'ccl': array([0.47728938]),
 'wba': array([0.47593566]),
 'ipg': array([0.47303711]),
 'bkr': array([0.46841854]),
 'hlt': array([0.46778946]),
 'pxd': array([0.45753305]),
 'hca': array([0.45566173]),
 'swks': array([0.45509635]),
 'nrg': array([0.45266762]),
 'bkng': array([0.4516165]),
 'abc': array([0.44878962]),
 'bwa': array([0.4485985]),
 'dltr': array([0.44737219]),
 'amat': array([0.44617774]),
 'gpn': array([0.44533365]),
 'hrb': array([0.44253862]),
 'tdg': array([0.44167861]),
 'el': array([0.43964803]),
 'alle': array([0.43899506]),
 'stz': array([0.43374741]),
 'xom': array([0.43272018]),
 'wy': array([0.43194776]),
 'ni': array([0.43029145]),
 'oke': array([0.42916069]),
 'mpc': array([0.4284918]),
 'uaa': array([0.42799013]),
 'sre': array([0.42625418]),
 'dte': array([0.42603918]),
 'intc': array([0.42405638]),
 'klac': array([0.4235786]),
 'frt': array([0.42212136]),
 'f': array([0.42020226]),
 'adsk': array([0.41835483]),
 'irm': array([0.41417423]),
 'fb': array([0.41365663]),
 'cpb': array([0.41285237]),
 'wmt': array([0.40912566]),
 'cci': array([0.40895047]),
 'ebay': array([0.40815416]),
 'ndaq': array([0.40777194]),
 'hwm': array([0.40460264]),
 'chd': array([0.4040293]),
 'kim': array([0.40401338]),
 'eog': array([0.39721293]),
 're': array([0.39659978]),
 'v': array([0.39448161]),
 'dvn': array([0.39425068]),
 'awk': array([0.39335085]),
 'ppl': array([0.39182991]),
 'cat': array([0.38973563]),
 'mro': array([0.38776079]),
 'hrl': array([0.38733875]),
 'wm': array([0.38724319]),
 'noc': array([0.38628763]),
 'ftv': array([0.38608855]),
 'bsx': array([0.38358019]),
 'pnc': array([0.38341296]),
 'blk': array([0.38292722]),
 'nlok': array([0.3820035]),
 'kmx': array([0.38155757]),
 'wynn': array([0.38134257]),
 'adi': array([0.38134257]),
 'aptv': array([0.38072942]),
 'txt': array([0.37950311]),
 'dis': array([0.37837235]),
 'mchp': array([0.37667622]),
 'iqv': array([0.37606307]),
 'cme': array([0.37580029]),
 'vrtx': array([0.3757764]),
 'pvh': array([0.3756251]),
 'bxp': array([0.37556936]),
 'amzn': array([0.37462176]),
 'sbux': array([0.37267081]),
 'so': array([0.37169932]),
 'gps': array([0.3711419]),
 'tfc': array([0.37109412]),
 'sbac': array([0.36996337]),
 'cah': array([0.36889632]),
 'rhi': array([0.36883262]),
 'exr': array([0.36865743]),
 'ivz': array([0.36798057]),
 'akam': array([0.36778149]),
 'tsco': array([0.36635611]),
 'gild': array([0.36631629]),
 'ip': array([0.36598184]),
 'ed': array([0.36473165]),
 'slb': array([0.36387164]),
 'qrvo': array([0.36374423]),
 'cb': array([0.36350534]),
 'see': array([0.36257366]),
 'leg': array([0.36186495]),
 'kmi': array([0.36099697]),
 'payx': array([0.36077401]),
 'dgx': array([0.36007326]),
 'xec': array([0.36000159]),
 'aig': array([0.35988215]),
 'lnc': array([0.3588788]),
 'key': array([0.35713489]),
 'lyb': array([0.35678452]),
 'rmd': array([0.35613951]),
 'avb': array([0.35602007]),
 'incy': array([0.35566969]),
 'hog': array([0.35547858]),
 'aap': array([0.35519191]),
 'zion': array([0.35453098]),
 'fitb': array([0.35451505]),
 'cf': array([0.35405319]),
 'are': array([0.35289855]),
 'xlnx': array([0.35216595]),
 'ci': array([0.35172002]),
 'ess': array([0.35164835]),
 'cern': array([0.35152891]),
 'sjm': array([0.35095557]),
 'ppg': array([0.34988055]),
 'cxo': array([0.34974518]),
 'jci': array([0.34951425]),
 'cag': array([0.3489648]),
 'hsy': array([0.34876573]),
 'etr': array([0.3486861]),
 'gs': array([0.34820035]),
 'mxim': array([0.34722886]),
 'intu': array([0.34718108]),
 'acn': array([0.34589107]),
 'isrg': array([0.34417105]),
 'afl': array([0.34382864]),
 'hpq': array([0.3431677]),
 'dd': array([0.34253066]),
 'wmb': array([0.34229973]),
 'nue': array([0.34143176]),
 'mgm': array([0.34068323]),
 'unm': array([0.33995063]),
 'zts': array([0.33954451]),
 'nwsa': array([0.33933747]),
 'lh': array([0.33709986]),
 'kmb': array([0.33697245]),
 'fti': array([0.33692467]),
 'reg': array([0.33667781]),
 'clx': array([0.33664596]),
 'mck': array([0.3362717]),
 'mdlz': array([0.33537187]),
 'lnt': array([0.33509317]),
 'ilmn': array([0.33503743]),
 'aee': array([0.33466316]),
 'bf b': array([0.3340739]),
 'emn': array([0.33332537]),
 'tif': array([0.33199554]),
 'mos': array([0.33162128]),
 'ph': array([0.33127887]),
 'ntrs': array([0.33049052]),
 'mkc': array([0.32983755]),
 'cinf': array([0.32963848]),
 'wat': array([0.32955088]),
 'rop': array([0.32929607]),
 'gww': array([0.32917662]),
 'disca': array([0.32888199]),
 'msft': array([0.3276716]),
 'antm': array([0.32720178]),
 'glw': array([0.32692308]),
 'rf': array([0.32679567]),
 'nflx': array([0.32641344]),
 'orly': array([0.32636566]),
 'mmm': array([0.32631789]),
 'uhs': array([0.32630992]),
 'psa': array([0.32615066]),
 'hd': array([0.32524287]),
 'ctxs': array([0.32466157]),
 'xyl': array([0.32347508]),
 'tmus': array([0.32340341]),
 'gpc': array([0.32318841]),
 'mas': array([0.3226071]),
 'd': array([0.32200987]),
 'etfc': array([0.32195413]),
 'all': array([0.32185061]),
 'zbh': array([0.32136487]),
 'sna': array([0.32123746]),
 'dov': array([0.31912725]),
 'coty': array([0.3190954]),
 'pg': array([0.31882465]),
 'mnst': array([0.31854595]),
 'grmn': array([0.31825928]),
 'cnc': array([0.31802835]),
 'cfg': array([0.31794075]),
 'cog': array([0.31704889]),
 'bdx': array([0.31677019]),
 'eix': array([0.31588629]),
 'gl': array([0.31558369]),
 'adm': array([0.31550406]),
 'txn': array([0.3154961]),
 'csco': array([0.31518554]),
 'atvi': array([0.31477942]),
 'lmt': array([0.3146759]),
 'rok': array([0.31346552]),
 'pep': array([0.31345756]),
 'ge': array([0.31309126]),
 'wdc': array([0.31275681]),
 'azo': array([0.31265329]),
 'lkq': array([0.31176939]),
 'tjx': array([0.31088549]),
 'pwr': array([0.31004141]),
 'hpe': array([0.30894251]),
 'pkg': array([0.30774805]),
 'ulta': array([0.30743749]),
 'algn': array([0.30691193]),
 'goog': array([0.30690397]),
 'amt': array([0.30673674]),
 'xrx': array([0.30625896]),
 'dri': array([0.30610766]),
 'amd': array([0.30609173]),
 'usb': array([0.30512821]),
 'khc': array([0.30508839]),
 'fcx': array([0.30450709]),
 'exc': array([0.30440357]),
 'gm': array([0.30377449]),
 'phm': array([0.30290651]),
 'psx': array([0.30196687]),
 'eqix': array([0.30190317]),
 'fast': array([0.30188724]),
 'ecl': array([0.30162446]),
 'dhi': array([0.3014652]),
 'biib': array([0.30076445]),
 'chrw': array([0.30011945]),
 'aph': array([0.29994426]),
 'pfg': array([0.29992037]),
 'lhx': array([0.29960981]),
 'eqr': array([0.29890906]),
 'myl': array([0.29741201]),
 'nwl': array([0.29669533]),
 'googl': array([0.29652015]),
 'aes': array([0.29646441]),
 'mtb': array([0.29632903]),
 'cof': array([0.2960981]),
 'adbe': array([0.2940516]),
 'msi': array([0.29328715]),
 'aal': array([0.29299251]),
 'ms': array([0.29292881]),
 'rsg': array([0.29283325]),
 'amgn': array([0.29202899]),
 'aiv': array([0.29198917]),
 'ew': array([0.2916388]),
 'wltw': array([0.29151935]),
 'alb': array([0.29144768]),
 'hig': array([0.29091416]),
 'vrsk': array([0.28980729]),
 'alxn': array([0.28880395]),
 'aon': array([0.28857302]),
 'vno': array([0.28816691]),
 'regn': array([0.28811913]),
 'dva': array([0.28747412]),
 'met': array([0.28707597]),
 'ntap': array([0.28695652]),
 'vrsn': array([0.28677337]),
 'trow': array([0.286638]),
 'dlr': array([0.28656633]),
 'vlo': array([0.28570632]),
 'it': array([0.28406593]),
 'hbi': array([0.28349259]),
 'mcd': array([0.28341296]),
 'hsic': array([0.2832537]),
 'ctsh': array([0.28312629]),
 'mrk': array([0.28263258]),
 'fisv': array([0.28255295]),
 'ea': array([0.28243351]),
 'emr': array([0.28162128]),
 'info': array([0.28109572]),
 'syk': array([0.28100016]),
 'iff': array([0.28037904]),
 'shw': array([0.279957]),
 'aapl': array([0.27902532]),
 'cnp': array([0.27771142]),
 'tel': array([0.27755216]),
 'c': array([0.27734512]),
 'vtr': array([0.27698678]),
 'de': array([0.27589584]),
 'abbv': array([0.27571269]),
 'nvda': array([0.27509954]),
 'xel': array([0.27487657]),
 'lly': array([0.27483676]),
 'bmy': array([0.27399267]),
 'mu': array([0.27376971]),
 'idxx': array([0.27374582]),
 'ma': array([0.27333174]),
 't': array([0.27261507]),
 'csx': array([0.27096671]),
 'snps': array([0.2707756]),
 'mtd': array([0.27052875]),
 'hst': array([0.27036152]),
 'ibm': array([0.27031374]),
 'nsc': array([0.27003504]),
 'omc': array([0.26931836]),
 'cost': array([0.26903169]),
 'k': array([0.26845039]),
 'abt': array([0.26841854]),
 'ame': array([0.26825131]),
 'jnpr': array([0.26792483]),
 'pld': array([0.26777353]),
 'nws': array([0.26768594]),
 'nem': array([0.26722408]),
 'ajg': array([0.26598981]),
 'unh': array([0.26465201]),
 'jnj': array([0.26411849]),
 'prgo': array([0.26306737]),
 'dish': array([0.26304348]),
 'tsn': array([0.26272496]),
 'bac': array([0.26228699]),
 'ice': array([0.26201624]),
 'amp': array([0.26098901]),
 'maa': array([0.25989011]),
 'crm': array([0.2591814]),
 'has': array([0.2590938]),
 'dxc': array([0.25858417]),
 'apd': array([0.2584488]),
 'nlsn': array([0.2568323]),
 'wu': array([0.2567447]),
 'bll': array([0.25642618]),
 'pnr': array([0.25575729]),
 'bby': array([0.25365504]),
 'peg': array([0.25307374]),
 'mhk': array([0.25207039]),
 'pypl': array([0.25057334]),
 'pnw': array([0.25011148]),
 'axp': array([0.24922758]),
 'pm': array([0.24837554]),
 'duk': array([0.24820035]),
 'cms': array([0.24800924]),
 'len': array([0.24750756]),
 'kr': array([0.24632107]),
 'rjf': array([0.24615385]),
 'etn': array([0.24578755]),
 'cbre': array([0.24470457]),
 'stx': array([0.24382067]),
 'lb': array([0.24370123]),
 'adp': array([0.24124861]),
 'pki': array([0.24117694]),
 'itw': array([0.24086638]),
 'pfe': array([0.23948877]),
 'efx': array([0.23870043]),
 'coo': array([0.23846154]),
 'cvs': array([0.23659022]),
 'avy': array([0.23620003]),
 'expd': array([0.23491002]),
 'dhr': array([0.23233795]),
 'fmc': array([0.23049849]),
 'nee': array([0.2283405]),
 'pgr': array([0.22785475]),
 'es': array([0.22674789]),
 'bax': array([0.22656474]),
 'ko': array([0.22552158]),
 'tgt': array([0.22352285]),
 'swk': array([0.22339545]),
 'aiz': array([0.22175506]),
 'dg': array([0.22158783]),
 'xray': array([0.2201067]),
 'aos': array([0.2193104]),
 'wrk': array([0.21714445]),
 'ldos': array([0.21621277]),
 'vfc': array([0.21556777]),
 'syf': array([0.21487498]),
 'holx': array([0.21456442]),
 'qcom': array([0.21389552]),
 'peak': array([0.21292403]),
 'dre': array([0.20903806]),
 'j': array([0.20811435]),
 'vz': array([0.20809842]),
 'whr': array([0.20804268]),
 'hon': array([0.20648989]),
 'orcl': array([0.20537506]),
 'cl': array([0.20483357]),
 'avgo': array([0.20384615]),
 'cmg': array([0.20357541]),
 'hum': array([0.20154483]),
 'pcar': array([0.19705367]),
 'unp': array([0.19584329]),
 'ctas': array([0.19387641]),
 'cmi': array([0.19360567]),
 'mco': array([0.19098583]),
 'fbhs': array([0.19003026]),
 'spgi': array([0.18991878]),
 'mdt': array([0.18781653]),
 'ksu': array([0.18709986]),
 'fis': array([0.1853878]),
 'vmc': array([0.18266444]),
 'mmc': array([0.17814939]),
 'tt': array([0.17795827]),
 'cmcsa': array([0.17634177]),
 'low': array([0.17173117]),
 'ffiv': array([0.17001911]),
 'tmo': array([0.16878484]),
 'chtr': array([0.15828954]),
 'a': array([0.14700589]),
 'ups': array([0.13897117]),
 'nke': array([0.11787705]),
 'jbht': array([0.11755853]),
 'fdx': array([0.09768275])}

In [12]:
import datetime
from datetime import datetime
from yahoo_earnings_calendar import YahooEarningsCalendar
import math

my_custom_delay_s = 0.01

yec = YahooEarningsCalendar(my_custom_delay_s)

# Returns the next earnings date of BOX in Unix timestamp
#print(yec.get_next_earnings_date('box'))
# 1508716800

ticker_date = {}
sml_tickers = []
today=datetime.today()
start=today+timedelta(days=14)
#end=today+timedelta(days=16)
end=today+timedelta(days=18)

for ticker in set(next_reports):
    pred_features=combined[ticker][-1:][cols]
    prediction = estimatorCopy.predict_proba(pred_features)[:,1]
    index = str(ticker)+':'+str(math.floor(100*prediction))

    try:
        date = datetime.fromtimestamp(yec.get_next_earnings_date(ticker))
        ticker_date[index] = date
        if date>start and date<end:
            sml_tickers.append(ticker)
    except:
        ticker_date[index] = datetime(3000, 1, 1, 1, 1)

{k: v for k, v in sorted(ticker_date.items(), key=lambda item: item[1])}

{'ua:29': datetime.datetime(2018, 4, 25, 6, 0),
 'flir:32': datetime.datetime(2020, 10, 30, 6, 0),
 'disck:35': datetime.datetime(2020, 11, 5, 6, 0),
 'ual:34': datetime.datetime(2021, 1, 20, 6, 0),
 'bxp:33': datetime.datetime(2021, 1, 26, 6, 0),
 'nee:38': datetime.datetime(2021, 1, 26, 6, 0),
 'msft:39': datetime.datetime(2021, 1, 26, 6, 0),
 'jnj:42': datetime.datetime(2021, 1, 26, 6, 0),
 'amd:37': datetime.datetime(2021, 1, 26, 6, 0),
 'sbux:34': datetime.datetime(2021, 1, 26, 6, 0),
 'adm:39': datetime.datetime(2021, 1, 26, 6, 0),
 'rtx:29': datetime.datetime(2021, 1, 26, 6, 0),
 'pld:38': datetime.datetime(2021, 1, 26, 6, 0),
 'rok:34': datetime.datetime(2021, 1, 26, 6, 0),
 'cof:41': datetime.datetime(2021, 1, 26, 6, 0),
 'axp:42': datetime.datetime(2021, 1, 26, 6, 0),
 'chrw:38': datetime.datetime(2021, 1, 26, 6, 0),
 'mxim:35': datetime.datetime(2021, 1, 26, 6, 0),
 'ffiv:59': datetime.datetime(2021, 1, 26, 6, 0),
 'xlnx:33': datetime.datetime(2021, 1, 26, 6, 0),
 'ge:47': datetime.datetime(2021, 1, 26, 6, 0),
 'xrx:48': datetime.datetime(2021, 1, 26, 6, 0),
 'mmm:35': datetime.datetime(2021, 1, 26, 6, 0),
 'ivz:23': datetime.datetime(2021, 1, 26, 6, 0),
 'dhi:32': datetime.datetime(2021, 1, 26, 6, 0),
 'alk:27': datetime.datetime(2021, 1, 26, 6, 0),
 'lmt:40': datetime.datetime(2021, 1, 26, 6, 0),
 'txn:37': datetime.datetime(2021, 1, 26, 6, 0),
 'fcx:40': datetime.datetime(2021, 1, 26, 6, 0),
 'pcar:50': datetime.datetime(2021, 1, 26, 6, 0),
 'whr:50': datetime.datetime(2021, 1, 27, 6, 0),
 'ndaq:27': datetime.datetime(2021, 1, 27, 6, 0),
 'syk:48': datetime.datetime(2021, 1, 27, 6, 0),
 'hes:14': datetime.datetime(2021, 1, 27, 6, 0),
 'tel:39': datetime.datetime(2021, 1, 27, 6, 0),
 't:41': datetime.datetime(2021, 1, 27, 6, 0),
 'adp:50': datetime.datetime(2021, 1, 27, 6, 0),
 'lrcx:20': datetime.datetime(2021, 1, 27, 6, 0),
 'vfc:65': datetime.datetime(2021, 1, 27, 6, 0),
 'dre:50': datetime.datetime(2021, 1, 27, 6, 0),
 'nsc:35': datetime.datetime(2021, 1, 27, 6, 0),
 'ba:19': datetime.datetime(2021, 1, 27, 6, 0),
 'abt:42': datetime.datetime(2021, 1, 27, 6, 0),
 'gd:14': datetime.datetime(2021, 1, 27, 6, 0),
 'pkg:50': datetime.datetime(2021, 1, 27, 6, 0),
 'uri:24': datetime.datetime(2021, 1, 27, 6, 0),
 'aapl:31': datetime.datetime(2021, 1, 27, 6, 0),
 'slg:25': datetime.datetime(2021, 1, 27, 6, 0),
 'amp:52': datetime.datetime(2021, 1, 27, 6, 0),
 'fb:31': datetime.datetime(2021, 1, 27, 6, 0),
 'holx:30': datetime.datetime(2021, 1, 27, 6, 0),
 'pgr:49': datetime.datetime(2021, 1, 27, 6, 0),
 'aph:29': datetime.datetime(2021, 1, 27, 6, 0),
 'glw:31': datetime.datetime(2021, 1, 27, 6, 0),
 'antm:30': datetime.datetime(2021, 1, 27, 6, 0),
 'rjf:52': datetime.datetime(2021, 1, 27, 6, 0),
 'cci:31': datetime.datetime(2021, 1, 27, 6, 0),
 'ew:41': datetime.datetime(2021, 1, 27, 6, 0),
 'txt:35': datetime.datetime(2021, 1, 27, 6, 0),
 'jnpr:18': datetime.datetime(2021, 1, 28, 6, 0),
 'v:35': datetime.datetime(2021, 1, 28, 6, 0),
 'mmc:32': datetime.datetime(2021, 1, 28, 6, 0),
 'dhr:56': datetime.datetime(2021, 1, 28, 6, 0),
 'emn:32': datetime.datetime(2021, 1, 28, 6, 0),
 'aal:33': datetime.datetime(2021, 1, 28, 6, 0),
 'xel:52': datetime.datetime(2021, 1, 28, 6, 0),
 'rmd:44': datetime.datetime(2021, 1, 28, 6, 0),
 'dov:43': datetime.datetime(2021, 1, 28, 6, 0),
 'trow:44': datetime.datetime(2021, 1, 28, 6, 0),
 'phm:37': datetime.datetime(2021, 1, 28, 6, 0),
 'nue:34': datetime.datetime(2021, 1, 28, 6, 0),
 'pnr:48': datetime.datetime(2021, 1, 28, 6, 0),
 'ma:39': datetime.datetime(2021, 1, 28, 6, 0),
 'ajg:50': datetime.datetime(2021, 1, 28, 6, 0),
 'swks:26': datetime.datetime(2021, 1, 28, 6, 0),
 'aos:48': datetime.datetime(2021, 1, 28, 6, 0),
 'mdlz:42': datetime.datetime(2021, 1, 28, 6, 0),
 'aiv:35': datetime.datetime(2021, 1, 28, 6, 0),
 'cmcsa:45': datetime.datetime(2021, 1, 28, 6, 0),
 'vlo:24': datetime.datetime(2021, 1, 28, 6, 0),
 'mkc:42': datetime.datetime(2021, 1, 28, 6, 0),
 'shw:35': datetime.datetime(2021, 1, 28, 6, 0),
 'mcd:46': datetime.datetime(2021, 1, 28, 6, 0),
 'wrk:24': datetime.datetime(2021, 1, 28, 6, 0),
 'rhi:30': datetime.datetime(2021, 1, 28, 6, 0),
 'wdc:27': datetime.datetime(2021, 1, 28, 6, 0),
 'mo:12': datetime.datetime(2021, 1, 28, 6, 0),
 'luv:34': datetime.datetime(2021, 1, 28, 6, 0),
 'pfg:36': datetime.datetime(2021, 1, 28, 6, 0),
 'ads:22': datetime.datetime(2021, 1, 28, 6, 0),
 'wec:26': datetime.datetime(2021, 1, 28, 6, 0),
 'noc:33': datetime.datetime(2021, 1, 28, 6, 0),
 'tsco:36': datetime.datetime(2021, 1, 28, 6, 0),
 'swk:51': datetime.datetime(2021, 1, 28, 6, 0),
 'jci:46': datetime.datetime(2021, 1, 29, 6, 0),
 'chd:34': datetime.datetime(2021, 1, 29, 6, 0),
 'psx:19': datetime.datetime(2021, 1, 29, 6, 0),
 'cat:35': datetime.datetime(2021, 1, 29, 6, 0),
 'lyb:38': datetime.datetime(2021, 1, 29, 6, 0),
 'chtr:62': datetime.datetime(2021, 1, 29, 6, 0),
 'cvx:22': datetime.datetime(2021, 1, 29, 6, 0),
 'cl:46': datetime.datetime(2021, 1, 29, 6, 0),
 'wy:34': datetime.datetime(2021, 1, 29, 6, 0),
 'hon:57': datetime.datetime(2021, 1, 29, 6, 0),
 'lhx:38': datetime.datetime(2021, 1, 29, 6, 0),
 'syf:53': datetime.datetime(2021, 1, 29, 6, 0),
 'lly:33': datetime.datetime(2021, 1, 29, 6, 0),
 'rop:20': datetime.datetime(2021, 1, 29, 6, 0),
 'sbac:31': datetime.datetime(2021, 2, 1, 6, 0),
 'vrtx:35': datetime.datetime(2021, 2, 1, 6, 0),
 'tmo:44': datetime.datetime(2021, 2, 1, 6, 0),
 'are:32': datetime.datetime(2021, 2, 1, 6, 0),
 'ea:33': datetime.datetime(2021, 2, 2, 6, 0),
 'amgn:26': datetime.datetime(2021, 2, 2, 6, 0),
 'mck:38': datetime.datetime(2021, 2, 2, 6, 0),
 'etn:46': datetime.datetime(2021, 2, 2, 6, 0),
 'hca:34': datetime.datetime(2021, 2, 2, 6, 0),
 'it:44': datetime.datetime(2021, 2, 2, 6, 0),
 'syy:31': datetime.datetime(2021, 2, 2, 6, 0),
 'fbhs:55': datetime.datetime(2021, 2, 2, 6, 0),
 'ups:31': datetime.datetime(2021, 2, 2, 6, 0),
 'wat:33': datetime.datetime(2021, 2, 2, 6, 0),
 'googl:34': datetime.datetime(2021, 2, 2, 6, 0),
 'amzn:30': datetime.datetime(2021, 2, 2, 6, 0),
 'xom:19': datetime.datetime(2021, 2, 2, 6, 0),
 'emr:36': datetime.datetime(2021, 2, 2, 6, 0),
 'pfe:42': datetime.datetime(2021, 2, 2, 6, 0),
 'idxx:31': datetime.datetime(2021, 2, 2, 6, 0),
 'rcl:16': datetime.datetime(2021, 2, 2, 6, 0),
 'cop:21': datetime.datetime(2021, 2, 2, 6, 0),
 'cb:29': datetime.datetime(2021, 2, 2, 6, 0),
 'pki:38': datetime.datetime(2021, 2, 2, 6, 0),
 'ben:34': datetime.datetime(2021, 2, 2, 6, 0),
 'cmg:54': datetime.datetime(2021, 2, 2, 6, 0),
 'tdg:33': datetime.datetime(2021, 2, 2, 6, 0),
 'gl:45': datetime.datetime(2021, 2, 2, 6, 0),
 'mpc:13': datetime.datetime(2021, 2, 2, 6, 0),
 'hog:22': datetime.datetime(2021, 2, 2, 6, 0),
 'lnc:23': datetime.datetime(2021, 2, 3, 6, 0),
 'biib:25': datetime.datetime(2021, 2, 3, 6, 0),
 'all:41': datetime.datetime(2021, 2, 3, 6, 0),
 'pypl:39': datetime.datetime(2021, 2, 3, 6, 0),
 'klac:35': datetime.datetime(2021, 2, 3, 6, 0),
 'qrvo:34': datetime.datetime(2021, 2, 3, 6, 0),
 'afl:46': datetime.datetime(2021, 2, 3, 6, 0),
 'met:38': datetime.datetime(2021, 2, 3, 6, 0),
 'gww:36': datetime.datetime(2021, 2, 3, 6, 0),
 'avb:36': datetime.datetime(2021, 2, 3, 6, 0),
 'ebay:28': datetime.datetime(2021, 2, 3, 6, 0),
 'qcom:37': datetime.datetime(2021, 2, 3, 6, 0),
 'aptv:38': datetime.datetime(2021, 2, 3, 6, 0),
 'maa:35': datetime.datetime(2021, 2, 3, 6, 0),
 'dte:26': datetime.datetime(2021, 2, 3, 6, 0),
 'abbv:36': datetime.datetime(2021, 2, 3, 6, 0),
 'bsx:34': datetime.datetime(2021, 2, 3, 6, 0),
 'hwm:39': datetime.datetime(2021, 2, 3, 6, 0),
 'ctsh:32': datetime.datetime(2021, 2, 3, 6, 0),
 'avy:52': datetime.datetime(2021, 2, 3, 6, 0),
 'algn:35': datetime.datetime(2021, 2, 3, 6, 0),
 'hum:54': datetime.datetime(2021, 2, 3, 6, 0),
 'coty:33': datetime.datetime(2021, 2, 3, 6, 0),
 'cpri:25': datetime.datetime(2021, 2, 3, 6, 0),
 'ip:32': datetime.datetime(2021, 2, 4, 6, 0),
 'sna:32': datetime.datetime(2021, 2, 4, 6, 0),
 'mrk:37': datetime.datetime(2021, 2, 4, 6, 0),
 'hsy:30': datetime.datetime(2021, 2, 4, 6, 0),
 'nlok:24': datetime.datetime(2021, 2, 4, 6, 0),
 'unm:46': datetime.datetime(2021, 2, 4, 6, 0),
 'dgx:29': datetime.datetime(2021, 2, 4, 6, 0),
 'pru:26': datetime.datetime(2021, 2, 4, 6, 0),
 'pm:44': datetime.datetime(2021, 2, 4, 6, 0),
 'mchp:39': datetime.datetime(2021, 2, 4, 6, 0),
 'ftv:33': datetime.datetime(2021, 2, 4, 6, 0),
 'ess:42': datetime.datetime(2021, 2, 4, 6, 0),
 'nov:23': datetime.datetime(2021, 2, 4, 6, 0),
 'dxc:54': datetime.datetime(2021, 2, 4, 6, 0),
 'apd:43': datetime.datetime(2021, 2, 4, 6, 0),
 'mtd:38': datetime.datetime(2021, 2, 4, 6, 0),
 'yum:30': datetime.datetime(2021, 2, 4, 6, 0),
 'hig:32': datetime.datetime(2021, 2, 4, 6, 0),
 'ph:29': datetime.datetime(2021, 2, 4, 6, 0),
 'atvi:43': datetime.datetime(2021, 2, 4, 6, 0),
 'bmy:40': datetime.datetime(2021, 2, 4, 6, 0),
 'bdx:36': datetime.datetime(2021, 2, 4, 6, 0),
 'bll:40': datetime.datetime(2021, 2, 4, 6, 0),
 'cms:52': datetime.datetime(2021, 2, 4, 6, 0),
 'rl:28': datetime.datetime(2021, 2, 4, 6, 0),
 'gild:15': datetime.datetime(2021, 2, 4, 6, 0),
 'ci:47': datetime.datetime(2021, 2, 4, 6, 0),
 'ame:53': datetime.datetime(2021, 2, 4, 6, 0),
 'abc:34': datetime.datetime(2021, 2, 4, 6, 0),
 'f:33': datetime.datetime(2021, 2, 4, 6, 0),
 'xyl:30': datetime.datetime(2021, 2, 4, 6, 0),
 'tpr:26': datetime.datetime(2021, 2, 4, 6, 0),
 'wynn:28': datetime.datetime(2021, 2, 4, 6, 0),
 'bax:51': datetime.datetime(2021, 2, 4, 6, 0),
 'cmi:51': datetime.datetime(2021, 2, 4, 6, 0),
 'clx:23': datetime.datetime(2021, 2, 4, 6, 0),
 'ice:51': datetime.datetime(2021, 2, 4, 6, 0),
 'tmus:41': datetime.datetime(2021, 2, 4, 6, 0),
 'nwsa:36': datetime.datetime(2021, 2, 4, 6, 0),
 'msi:49': datetime.datetime(2021, 2, 4, 6, 0),
 'alxn:27': datetime.datetime(2021, 2, 4, 6, 0),
 'regn:28': datetime.datetime(2021, 2, 5, 6, 0),
 'itw:43': datetime.datetime(2021, 2, 5, 6, 0),
 'el:29': datetime.datetime(2021, 2, 5, 6, 0),
 'aon:51': datetime.datetime(2021, 2, 5, 6, 0),
 'fe:13': datetime.datetime(2021, 2, 5, 6, 0),
 'tt:53': datetime.datetime(2021, 2, 5, 6, 0),
 'zbh:40': datetime.datetime(2021, 2, 5, 6, 0),
 'cah:20': datetime.datetime(2021, 2, 5, 6, 0),
 'spg:40': datetime.datetime(2021, 2, 8, 6, 0),
 'leg:30': datetime.datetime(2021, 2, 8, 6, 0),
 'has:41': datetime.datetime(2021, 2, 8, 6, 0),
 'gpn:27': datetime.datetime(2021, 2, 8, 6, 0),
 'dva:43': datetime.datetime(2021, 2, 8, 6, 0),
 'l:31': datetime.datetime(2021, 2, 8, 6, 0),
 're:19': datetime.datetime(2021, 2, 8, 6, 0),
 'csco:18': datetime.datetime(2021, 2, 9, 6, 0),
 'hp:21': datetime.datetime(2021, 2, 9, 6, 0),
 'exc:42': datetime.datetime(2021, 2, 9, 6, 0),
 'fmc:57': datetime.datetime(2021, 2, 9, 6, 0),
 'wu:53': datetime.datetime(2021, 2, 9, 6, 0),
 'dd:41': datetime.datetime(2021, 2, 9, 6, 0),
 'mas:37': datetime.datetime(2021, 2, 9, 6, 0),
 'uaa:36': datetime.datetime(2021, 2, 9, 6, 0),
 'akam:36': datetime.datetime(2021, 2, 9, 6, 0),
 'hbi:47': datetime.datetime(2021, 2, 9, 6, 0),
 'spgi:42': datetime.datetime(2021, 2, 9, 6, 0),
 'well:22': datetime.datetime(2021, 2, 9, 6, 0),
 'wltw:38': datetime.datetime(2021, 2, 9, 6, 0),
 'cnc:36': datetime.datetime(2021, 2, 9, 6, 0),
 'fisv:41': datetime.datetime(2021, 2, 9, 6, 0),
 'incy:29': datetime.datetime(2021, 2, 9, 6, 0),
 'see:44': datetime.datetime(2021, 2, 9, 6, 0),
 'udr:22': datetime.datetime(2021, 2, 9, 6, 0),
 'mlm:32': datetime.datetime(2021, 2, 9, 6, 0),
 'peak:44': datetime.datetime(2021, 2, 9, 6, 0),
 'j:50': datetime.datetime(2021, 2, 9, 6, 0),
 'fis:61': datetime.datetime(2021, 2, 9, 6, 0),
 'omc:28': datetime.datetime(2021, 2, 9, 6, 0),
 'aiz:48': datetime.datetime(2021, 2, 9, 6, 0),
 'eqix:28': datetime.datetime(2021, 2, 10, 6, 0),
 'mgm:41': datetime.datetime(2021, 2, 10, 6, 0),
 'efx:35': datetime.datetime(2021, 2, 10, 6, 0),
 'eqr:35': datetime.datetime(2021, 2, 10, 6, 0),
 'ipg:32': datetime.datetime(2021, 2, 10, 6, 0),
 'iff:38': datetime.datetime(2021, 2, 10, 6, 0),
 'amat:33': datetime.datetime(2021, 2, 10, 6, 0),
 'cern:32': datetime.datetime(2021, 2, 10, 6, 0),
 'ko:55': datetime.datetime(2021, 2, 10, 6, 0),
 'orly:35': datetime.datetime(2021, 2, 10, 6, 0),
 'iqv:35': datetime.datetime(2021, 2, 10, 6, 0),
 'cf:25': datetime.datetime(2021, 2, 10, 6, 0),
 'cinf:32': datetime.datetime(2021, 2, 10, 6, 0),
 'gm:28': datetime.datetime(2021, 2, 10, 6, 0),
 'cme:30': datetime.datetime(2021, 2, 10, 6, 0),
 'tsn:31': datetime.datetime(2021, 2, 11, 6, 0),
 'duk:43': datetime.datetime(2021, 2, 11, 6, 0),
 'lh:37': datetime.datetime(2021, 2, 11, 6, 0),
 'aig:26': datetime.datetime(2021, 2, 11, 6, 0),
 'k:47': datetime.datetime(2021, 2, 11, 6, 0),
 'nvda:32': datetime.datetime(2021, 2, 11, 6, 0),
 'tap:15': datetime.datetime(2021, 2, 11, 6, 0),
 'dlr:48': datetime.datetime(2021, 2, 11, 6, 0),
 'frt:31': datetime.datetime(2021, 2, 11, 6, 0),
 'ilmn:40': datetime.datetime(2021, 2, 11, 6, 0),
 'expe:14': datetime.datetime(2021, 2, 11, 6, 0),
 'vrsn:49': datetime.datetime(2021, 2, 11, 6, 0),
 'kim:40': datetime.datetime(2021, 2, 11, 6, 0),
 'bwa:24': datetime.datetime(2021, 2, 11, 6, 0),
 'pep:47': datetime.datetime(2021, 2, 11, 6, 0),
 'reg:31': datetime.datetime(2021, 2, 11, 6, 0),
 'mhk:35': datetime.datetime(2021, 2, 11, 6, 0),
 'irm:16': datetime.datetime(2021, 2, 11, 6, 0),
 'dis:39': datetime.datetime(2021, 2, 11, 6, 0),
 'khc:35': datetime.datetime(2021, 2, 11, 6, 0),
 'nwl:43': datetime.datetime(2021, 2, 12, 6, 0),
 'mco:49': datetime.datetime(2021, 2, 12, 6, 0),
 'd:45': datetime.datetime(2021, 2, 12, 6, 0),
 'ppl:36': datetime.datetime(2021, 2, 12, 6, 0),
 'fls:14': datetime.datetime(2021, 2, 15, 6, 0),
 'a:60': datetime.datetime(2021, 2, 16, 6, 0),
 'vno:25': datetime.datetime(2021, 2, 16, 6, 0),
 'cvs:51': datetime.datetime(2021, 2, 16, 6, 0),
 'dvn:11': datetime.datetime(2021, 2, 16, 6, 0),
 'vrsk:40': datetime.datetime(2021, 2, 16, 6, 0),
 'aap:38': datetime.datetime(2021, 2, 16, 6, 0),
 'oxy:5': datetime.datetime(2021, 2, 16, 6, 0),
 'awk:37': datetime.datetime(2021, 2, 16, 6, 0),
 'zts:43': datetime.datetime(2021, 2, 16, 6, 0),
 'alle:32': datetime.datetime(2021, 2, 16, 6, 0),
 'expd:40': datetime.datetime(2021, 2, 16, 6, 0),
 'exr:26': datetime.datetime(2021, 2, 16, 6, 0),
 'cxo:33': datetime.datetime(2021, 2, 16, 6, 0),
 'ecl:39': datetime.datetime(2021, 2, 16, 6, 0),
 'vmc:60': datetime.datetime(2021, 2, 16, 6, 0),
 'mos:20': datetime.datetime(2021, 2, 17, 6, 0),
 'adi:35': datetime.datetime(2021, 2, 17, 6, 0),
 'pxd:12': datetime.datetime(2021, 2, 17, 6, 0),
 'alb:28': datetime.datetime(2021, 2, 17, 6, 0),
 'dish:37': datetime.datetime(2021, 2, 17, 6, 0),
 'wmb:38': datetime.datetime(2021, 2, 17, 6, 0),
 'snps:37': datetime.datetime(2021, 2, 17, 6, 0),
 'hlt:32': datetime.datetime(2021, 2, 17, 6, 0),
 'es:39': datetime.datetime(2021, 2, 17, 6, 0),
 'mro:29': datetime.datetime(2021, 2, 17, 6, 0),
 'grmn:40': datetime.datetime(2021, 2, 17, 6, 0),
 'gpc:31': datetime.datetime(2021, 2, 17, 6, 0),
 'etr:37': datetime.datetime(2021, 2, 17, 6, 0),
 'wmt:25': datetime.datetime(2021, 2, 18, 6, 0),
 'so:35': datetime.datetime(2021, 2, 18, 6, 0),
 'lkq:38': datetime.datetime(2021, 2, 18, 6, 0),
 'lnt:42': datetime.datetime(2021, 2, 18, 6, 0),
 'hst:40': datetime.datetime(2021, 2, 18, 6, 0),
 'aee:32': datetime.datetime(2021, 2, 18, 6, 0),
 'mar:25': datetime.datetime(2021, 2, 18, 6, 0),
 'nem:47': datetime.datetime(2021, 2, 18, 6, 0),
 'wm:38': datetime.datetime(2021, 2, 18, 6, 0),
 'ed:46': datetime.datetime(2021, 2, 18, 6, 0),
 'hrl:29': datetime.datetime(2021, 2, 18, 6, 0),
 'vtr:34': datetime.datetime(2021, 2, 18, 6, 0),
 'hsic:28': datetime.datetime(2021, 2, 18, 6, 0),
 'cog:35': datetime.datetime(2021, 2, 18, 6, 0),
 'nclh:12': datetime.datetime(2021, 2, 18, 6, 0),
 'de:32': datetime.datetime(2021, 2, 19, 6, 0),
 'hpq:41': datetime.datetime(2021, 2, 22, 6, 0),
 'mnst:33': datetime.datetime(2021, 2, 22, 6, 0),
 'xec:19': datetime.datetime(2021, 2, 22, 6, 0),
 'oke:38': datetime.datetime(2021, 2, 22, 6, 0),
 'cdns:26': datetime.datetime(2021, 2, 22, 6, 0),
 'intu:33': datetime.datetime(2021, 2, 22, 6, 0),
 'rsg:43': datetime.datetime(2021, 2, 22, 6, 0),
 'o:26': datetime.datetime(2021, 2, 22, 6, 0),
 'm:9': datetime.datetime(2021, 2, 23, 6, 0),
 'psa:34': datetime.datetime(2021, 2, 23, 6, 0),
 'mdt:39': datetime.datetime(2021, 2, 23, 6, 0),
 'hd:46': datetime.datetime(2021, 2, 23, 6, 0),
 'crm:41': datetime.datetime(2021, 2, 23, 6, 0),
 'ldos:48': datetime.datetime(2021, 2, 23, 6, 0),
 'cbre:33': datetime.datetime(2021, 2, 23, 6, 0),
 'amt:47': datetime.datetime(2021, 2, 23, 6, 0),
 'anss:30': datetime.datetime(2021, 2, 24, 6, 0),
 'tjx:40': datetime.datetime(2021, 2, 24, 6, 0),
 'apa:28': datetime.datetime(2021, 2, 24, 6, 0),
 'lb:45': datetime.datetime(2021, 2, 24, 6, 0),
 'low:35': datetime.datetime(2021, 2, 24, 6, 0),
 'viac:16': datetime.datetime(2021, 2, 24, 6, 0),
 'ntap:44': datetime.datetime(2021, 2, 24, 6, 0),
 'ni:40': datetime.datetime(2021, 2, 24, 6, 0),
 'pnw:34': datetime.datetime(2021, 2, 24, 6, 0),
 'bkng:30': datetime.datetime(2021, 2, 24, 6, 0),
 'uhs:39': datetime.datetime(2021, 2, 24, 6, 0),
 'fti:31': datetime.datetime(2021, 2, 24, 6, 0),
 'peg:42': datetime.datetime(2021, 2, 24, 6, 0),
 'prgo:29': datetime.datetime(2021, 2, 25, 6, 0),
 'pwr:39': datetime.datetime(2021, 2, 25, 6, 0),
 'bby:46': datetime.datetime(2021, 2, 25, 6, 0),
 'disca:40': datetime.datetime(2021, 2, 25, 6, 0),
 'nlsn:43': datetime.datetime(2021, 2, 25, 6, 0),
 'eix:39': datetime.datetime(2021, 2, 25, 6, 0),
 'adsk:22': datetime.datetime(2021, 2, 25, 6, 0),
 'sjm:37': datetime.datetime(2021, 2, 25, 6, 0),
 'nrg:23': datetime.datetime(2021, 2, 25, 6, 0),
 'aes:54': datetime.datetime(2021, 2, 25, 6, 0),
 'cnp:48': datetime.datetime(2021, 2, 25, 6, 0),
 'sre:25': datetime.datetime(2021, 2, 25, 6, 0),
 'eog:20': datetime.datetime(2021, 2, 25, 6, 0),
 'kss:18': datetime.datetime(2021, 3, 1, 6, 0),
 'hpe:42': datetime.datetime(2021, 3, 1, 6, 0),
 'xray:50': datetime.datetime(2021, 3, 1, 6, 0),
 'azo:36': datetime.datetime(2021, 3, 1, 6, 0),
 'rost:37': datetime.datetime(2021, 3, 1, 6, 0),
 'tgt:60': datetime.datetime(2021, 3, 2, 6, 0),
 'dltr:25': datetime.datetime(2021, 3, 2, 6, 0),
 'jwn:18': datetime.datetime(2021, 3, 2, 6, 0),
 'cpb:42': datetime.datetime(2021, 3, 2, 6, 0),
 'hrb:20': datetime.datetime(2021, 3, 3, 6, 0),
 'coo:48': datetime.datetime(2021, 3, 3, 6, 0),
 'kr:50': datetime.datetime(2021, 3, 3, 6, 0),
 'cost:49': datetime.datetime(2021, 3, 4, 6, 0),
 'orcl:48': datetime.datetime(2021, 3, 10, 6, 0),
 'gps:32': datetime.datetime(2021, 3, 10, 6, 0),
 'dg:57': datetime.datetime(2021, 3, 10, 6, 0),
 'avgo:48': datetime.datetime(2021, 3, 10, 6, 0),
 'ulta:35': datetime.datetime(2021, 3, 11, 6, 0),
 'gis:18': datetime.datetime(2021, 3, 16, 6, 0),
 'ctas:55': datetime.datetime(2021, 3, 17, 6, 0),
 'len:41': datetime.datetime(2021, 3, 17, 6, 0),
 'dri:39': datetime.datetime(2021, 3, 17, 6, 0),
 'ccl:28': datetime.datetime(2021, 3, 18, 6, 0),
 'acn:41': datetime.datetime(2021, 3, 18, 6, 0),
 'fdx:40': datetime.datetime(2021, 3, 18, 6, 0),
 'info:54': datetime.datetime(2021, 3, 22, 6, 0),
 'nke:33': datetime.datetime(2021, 3, 22, 6, 0),
 'payx:41': datetime.datetime(2021, 3, 23, 6, 0),
 'adbe:42': datetime.datetime(2021, 3, 23, 6, 0),
 'mu:38': datetime.datetime(2021, 3, 23, 6, 0),
 'cag:47': datetime.datetime(2021, 3, 29, 6, 0),
 'pvh:23': datetime.datetime(2021, 3, 30, 6, 0),
 'wba:28': datetime.datetime(2021, 3, 31, 6, 0),
 'stz:34': datetime.datetime(2021, 4, 1, 6, 0),
 'kmx:38': datetime.datetime(2021, 4, 1, 6, 0),
 'fast:39': datetime.datetime(2021, 4, 12, 6, 0),
 'gs:40': datetime.datetime(2021, 4, 13, 6, 0),
 'schw:35': datetime.datetime(2021, 4, 13, 6, 0),
 'unh:49': datetime.datetime(2021, 4, 13, 6, 0),
 'key:44': datetime.datetime(2021, 4, 14, 6, 0),
 'blk:47': datetime.datetime(2021, 4, 14, 6, 0),
 'jpm:33': datetime.datetime(2021, 4, 14, 6, 0),

In [13]:
df = pd.DataFrame(sml_tickers)
writer = pd.ExcelWriter('spx_tickers.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='welcome', index=False)
writer.save()

In [14]:
len(df)

28

In [15]:
df

       0
0    clx
1     el
2    ess
3    pru
4   nlok
5    mrk
6    bll
7     ph
8     tt
9    xyl
10    fe
11   dxc
12    rl
13   msi
14   dgx
15    pm
16    ip
17   unm
18   cms
19  mchp
20   ice
21  atvi
22   nov
23   tpr
24   hsy
25   hig
26   abc
27   tsn
28   aon
29  nwsa
30  regn
31  wynn
32   mtd
33   ame
34  tmus
35     f
36   itw
37   hbi
38   bmy
39    ci
40   yum
41   zbh
42   cmi
43   sna
44   bax
45   bdx
46   apd
47   ftv
48   cah